# dependencies
/chat-webapp/node_modules
/chat-webapp/.pnp
/chat-webapp/.pnp.js
/chat-webapp/.yarn/install-state.gz

# testing
/chat-webapp/coverage

# next.js
/chat-webapp/.next/
/chat-webapp/out/

# production
/chat-webapp/build

# misc
/chat-webapp/.DS_Store
/chat-webapp/*.pem

# debug
/chat-webapp/npm-debug.log*
/chat-webapp/yarn-debug.log*
/chat-webapp/yarn-error.log*

# local env files
/chat-webapp/.env*.local

# vercel
/chat-webapp/.vercel

# typescript
/chat-webapp/*.tsbuildinfo
/chat-webapp/next-env.d.ts
